# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# 2 space indentation for web files
[*.{html,css,scss,sass,less,json,js,ts,yaml,yml,md}]
indent_style = space
indent_size = 2

# No trailing whitespace in markdown
[*.ts]
quote_type = single
[*.md]
trim_trailing_whitespace = false
